<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="000100" id="com.cordova.test" ios-CFBundleVersion="0.1.1" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Prebuild</name>
    <description>Cordova Prebuild</description>
    <author email="cordova@gmail.com" href="https://cordova.apache.org/">dmastag</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="https://docs.google.com" />
    <allow-navigation href="https://www.youtube.com" />
    <allow-navigation href="http://localhost:8080/*" />
    <allow-navigation href="http://172.16.1.34:8100" />
    <allow-navigation href="http://172.16.8.101:8101" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
            <string>You need this</string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>You need this</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>You need this</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>You need this</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCalendarsUsageDescription">
            <string>You need this</string>
        </edit-config>
        <feature name="StatusBar">
            <param name="ios-package" onload="true" value="CDVStatusBar" />
        </feature>
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="SplashScreenBackgroundColor" value="0xFFFFFFFF" />
    <preference name="SplashScreen" value="screen" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
</widget>
